/* General styles for all containers */
.container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

/* Focus visibility */
:focus {
    outline: 3px solid #5b9dd9;
}

input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
}

input[type="radio"] {
    margin-right: 5px;
}

fieldset {
    border: none;
    padding: 10px;
}

#draggable {
    position: absolute; /* Allows movement based on left/top properties */
    outline: 3px solid #5b9dd9;
    cursor: move;
    width: 100px;
    height: 100px;
    background-color: #4A90E2;
    color: white;
    line-height: 100px;
    text-align: center;
}