header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #2100c8, #663399);
    color: #f0f0f0;
    padding: 20px 0;
    height: 5em;
}

.backbutton-content {
    position: absolute;
    left: 2%;
}

.logo-container {
    position: absolute;
    display:flex;
    justify-items: center;
    align-items: center;
    right: -5px; /* Distanza dal bordo sinistro */
    border: 10px solid #f0f0f0; /* Bordo bianco attorno al logo */
    padding: 15px; /* Spaziatura interna per evitare che il bordo tocchi il logo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombra bianca attorno al logo */
    background-color: #f0f0f0; /* Sfondo semi-trasparente */
    border-top-left-radius: 25px; /* Bordo arrotondato solo in alto a sinistra */
    border-bottom-left-radius: 25px; /* Bordo arrotondato solo in basso a sinistra */
    
    
}

.logo {
    max-height: 50px; /* Regola l'altezza del logo */
}

.header-content {
    width: 65%;
    text-align: center;
    align-items: center;
    justify-items: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

header p {
    font-size: 18px;
    margin: 0;
    color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling for the header */
h1 {
    color: #333;
    margin-bottom: 20px; /* Adds space below the header */
}

/* Styling for paragraph text */
p {
    margin-bottom: 20px; /* Adds space below the paragraph */
    color: #000000;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #2100c8; /* Blue background */
    color: white;
    font-family: Arial, sans-serif; /* Simple sans-serif font */
    font-size: 20px; /* Larger font size */
    text-decoration: none; /* Removes underline */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Subtle shadow */
    border: solid 3px white; /* White border around the button */
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.buttonList-padding {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Verdana, Tahoma, sans-serif;
}

#page-container {
    height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center
}

.button:hover, .button:focus {
    background-color: rgb(21, 45, 70); /* Darker blue on hover/focus */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Slightly more prominent shadow on hover/focus */
}

footer {
    position: relative;       
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2100c8;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-main {
    position: absolute;       
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2100c8;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: underline;
    padding: 10px;
}

.padding {
    padding: 20px;
}

.backButton {
    float: left;
    padding: 10px 30px;
    background-color: #663399; /* Blue background */
    color: white;
    font-family: Arial, sans-serif; /* Simple sans-serif font */
    font-size: 15px; /* Larger font size */
    text-decoration: none; /* Removes underline */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Subtle shadow */
    border: solid 3px white; /* White border around the button */
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.subnav {
    overflow: hidden;
    float: left;
    width: 20%;
    text-align: center;
    

    
}
.subnav .subnavbtn {
    
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 2px;
    
  }

  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: white;
    color:#454849 ;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #454849;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: #454849;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  .subnav:hover .subnav-content {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .title {
    width: 60%;
  }

.fa-caret-down {
    color: #fff;
    padding: 8px;
}

