#resultSearch.hidden {
    display: none;
}

#ticketList li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
    position: relative;
}

@keyframes unfold {
    from { height: 60px; }
    to { height: 200px; } /* Example height, adjust as needed */
}

/* ticket styling */
.ticket-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.ticket-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-route strong {
    display: block; /* Adjust as needed */
}

.ticket-times, .ticket-info, .ticket-price {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.detail-button, .pay-button {
    background-color: #663399; /* Adjust the color to match your theme */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.detail-button:hover, .pay-button:hover {
    background-color: #943399;
}

.hidden {
    display: none;
}

.ticket-details {
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid #eee;
}